<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../static/style.css">
        <title>Welcome to Google Calendar App!</title>
    </head>
    <body>
    <ul class="text hidden">
        <li>S</li>
        <li>L</li>
        <li>A</li>
        <li>C</li>
        <li>K</li>
        <li class="ghost spaced">G</li>
        <li class="ghost">o</li>
        <li class="ghost">o</li>
        <li class="ghost">g</li>
        <li class="ghost">l</li>
        <li class="ghost">e</li>
        <li class="ghost spaced">C</li>
        <li class="ghost">a</li>
        <li class="ghost">l</li>
        <li class="ghost">e</li>
        <li class="ghost">n</li>
        <li class="ghost">d</li>
        <li class="ghost">a</li>
        <li class="ghost">r</li>
        <li class="ghost spaced">B</li>
        <li class="ghost">o</li>
        <li class="ghost">t</li>
        <!-- <li class="ghost spaced">g</li>
        <li class="ghost">c</li>
        <li class="ghost">a</li>
        <li class="ghost">l</li>
        <li class="ghost">e</li>
        <li class="ghost">n</li>
        <li class="ghost">d</li>
        <li class="ghost">a</li>
        <li class="ghost">r</li>
        <li class="ghost">b</li>
        <li class="ghost">o</li>
        <li class="ghost">t</li> -->
    </ul>
    <div class="console-container">
        <span id="textInfo">
            <div class="console-underscore" id="console"></div>
        </span>
    </div>
    <div class="scene">
        <div class="cube">
            <span class="side frontImg"><img src="../static/iconfinder_306_Slack_logo_4375081.svg" alt=""></span>
            <a href="https://slack.com/oauth/v2/authorize?client_id=949577344032.956470747863&scope=channels:history,channels:join,channels:manage,channels:read,chat:write,pins:write,reactions:write,users:write,reactions:read,commands&user_scope=channels:history,channels:write,emoji:read,chat:write,reactions:read,channels:read,reactions:write,team:read"><span class="side top">Add to Slack</span></a>
        </div>
    </div>
    <script src="../static/script.js"></script>
    </body>
</html>
